<template>
	<header>
		<a href='/' class='Company'>Wexler</a>
		<div class='Counter' @click='toggleSidePanel(showingSidePanel)'>
			<i class='fas fa-inbox'></i>
			<span class='Counter-number'>{{ count }}</span>
		</div>
	</header>
</template>

<script>
	import showingSidePanel from '../mixins/showingSidePanel';

	export default {
		name: 'Header',
		mixins: [showingSidePanel],
		computed: {
			count: (vm) => {
				const {shortlistIDs, followingCompanyIDs} = vm.$store.state;
				return shortlistIDs.length + followingCompanyIDs.length;
			},
		},
		methods: {
			toggleSidePanel: function (showing) {
				this.$store.dispatch('toggleSidePanel', showing);
			}
		}
	};
</script>

<style scoped type='text/less' lang='less'>
	header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		background: #fff;
		padding: 0 15px;
		align-items: center;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
		height: 70px;
		position: relative;
		z-index: 1;
	}

	.Company {
		font-size: 30px;
		font-weight: 700;
		margin: 0;
	}

	.Counter {
		position: relative;
	}

	.Counter-number {
		display: inline-block;
		position: relative;
		top: -8px;
		left: -4px;
		height: 20px;
		line-height: 20px;
		color: #fff;
		padding: 0 2px;
		background: red;
		font-weight: 700;
		border-radius: 4px;
	}
</style>
