<template>
	<div class='Notifications'>
		<notification v-for='(data, index) in notifications' :key='index' v-bind:index='index' v-bind:notification='data'/>
	</div>
</template>

<script>
	import Notification from './notification';

	export default {
		name: 'NotificationsList',
		data() {
			return {
				notifications: this.$store.state.notifications
			}
		},
		components: {
			'notification': Notification,
		}
	}
</script>

<style scoped type='text/less' lang='less'>
	.Notifications {
		position: fixed;
		top: 20px;
		left: 15px;
		width: 240px;
		z-index: 2;

		@media screen and (min-width: 1024px) {
			left: auto;
			right: 80px;
			width: 500px;
		}
	}
</style>