<template>
	<transition appear name='slide-fade'>
		<div class='Notification-item'>
			<button class='Notification-item-close' @click='removeNotification'><i class='fa fa-times'></i></button>
			<div v-if='notification.key == "shortlistIDs"'>
				<h4 class='Notification-item-title'>{{ notification.data.title }} at {{ notification.data.company_name }}</h4>
				<div v-if='notification.action == "added"'>
					<p class='Notification-item-message'>Job added to your saved items.</p>

					<div v-if='followable' class='Notification-item-footer'><span>Would you like to follow <strong
						class='Notification-item-footer-company-name'>{{ notification.data.company_name }}</strong> you'll be the first to hear about new jobs and be notified about upcoming deadlines.</span>
						<button class='Notification-item-button' @click='followCompany'>Follow Now</button>
					</div>
				</div>

				<p v-else class='Notification-item-message'>Job removed from your saved items.</p>
			</div>

			<div v-else>
				<h4 class='Notification-item-title'>{{ notification.data.company_name }}</h4>
				<p class='Notification-item-message'>Company added to your saved items.</p>
			</div>
		</div>
	</transition>
</template>

<script>
	export default {
		name: 'Notification',
		props: {
			index: {
				default: () => {
					return 0
				},
				type: Number
			},
			notification: {
				default: () => {
					return {}
				},
				type: Object
			}
		},
		data() {
			return {
				followable: true,
			}
		},
		mounted() {
			setTimeout(this.removeNotification, 5000);
		},
		methods: {
			removeNotification: function () {
				this.$store.dispatch('removeNotification', this.notification.data.id);
			},

			followCompany: function() {
				const {id, title, company_name, company_id} = this.notification.data;

				this.$store.dispatch('addFollowingCompanyID', {id, title, company_name, company_id});
				this.followable = false;
			}
		}
	}
</script>

<style scoped type='text/less' lang='less'>
	.slide-fade-enter-active {
		transition: all .5s ease;
	}

	.slide-fade-leave-active {
		transition: all .9s cubic-bezier(.9, .65, .9, .65);
	}

	.slide-fade-enter, .slide-fade-leave-to {
		transform: translateX(100%);
		opacity: 0;
	}

	.Notification-item {
		position: relative;
		margin-bottom: 5px;
		border-radius: 5px;
		box-shadow: 0 5px 8px rgba(120, 120, 120, .4);
		background: #fff;
	}

	.Notification-item-title {
		padding: 25px 25px 0;
		margin: 0;
	}

	.Notification-item-message {
		padding: 25px;
		margin: 0;
	}

	.Notification-item-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.Notification-item-footer {
		padding: 25px;
		background-color: #fffacb;
	}

	.Notification-item-footer-company-name {
		display: block;
	}

	.Notification-item-button {
		width: 100%;
		display: block;
		padding: 15px;
		margin-top: 15px;
		background-color: #32b056;
		text-transform: uppercase;
		text-shadow: 0 1px 3px rgba(36, 180, 126, .4);
		font-weight: 700;
		font-size: 1em;
		color: #fff;
	}
</style>