<template>
	<main class='Search-Container Grid'>
		<transition appear name='fade'>
			<div v-show='!ui.loading'>
				<div class='Filters'>
					<search-filters/>
				</div>
				<ol class='Job'>
					<li class='Job-item Group' v-for='result of results' :key='result.id'>
						<search-result v-bind:result='result'/>
					</li>
				</ol>
			</div>
		</transition>
	</main>
</template>

<script>
	import axios from 'axios';
	import {mapGetters} from 'vuex'

	import SearchResult from './search-result';
	import SearchFilters from './search-filters.vue';

	export default {
		name: 'SearchPage',
		components: {
			'search-result': SearchResult,
			'search-filters': SearchFilters
		},
		data() {
			return {
				config: {
					getResultsUrl: '/api/search/jobs'
				},
				ui: {
					loading: true
				}
			};
		},
		mounted() {
			this.getResults();
		},
		methods: {
			getResults: function () {
				axios.get(this.config.getResultsUrl).then(response => {
					this.$store.dispatch('initResults', response.data);
				});
			},
			filterResults: (results, filters) => {
				const filterKeys = Object.keys(filters);

				return results.filter(item => {
					return filterKeys.some(key => filters[key] == item[key]);
				});
			}
		},
		computed: {
			results: (vm) => {
				const {results, filters} = vm.$store.state;

				if(vm.ui.loading) {
					vm.ui.loading = false;
				}

				const filtered = Object.keys(filters).some(filter => {
					return Object.values(filters[filter]).length > 0;
				});

				return !filtered ? results : vm.filterResults(results, filters)
			},
		},
	};
</script>

<style scoped type='text/less' lang='less'>
	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s ease;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}

	.Search-Container {
		max-width: 1440px;
		margin: auto;
		padding: 0 15px 60px;

		&:before,
		&:after {
			content: ' ';
			display: table;
		 }

	   &:after {
				clear: both;
	    }
	}

	.Filters {
		margin: 0 20px;
		width: 300px;
		float: left;
	}

	.Job {
		margin: 0 20px;
		width: 700px;
		float: left;
		padding: 0;
		border-radius: 6px;
		overflow: hidden;
		background: #fff;
		/*padding: 0;*/
		text-align: left;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	}

	.Job-item {
		padding: 15px;
		border-bottom: 1px solid #dddddd;
		display: block;
		list-style: none;
		position: relative;

		&:last-child {
			border: none;
		}
	}

	.Job-item,
	.Group {
		display: flex;
	}
</style>
