<template>
	<div class='Search-result'>
		<a class='Job-logo' href=''>
			<img v-bind:src='result.logo' v-bind:alt='result.company_name'/>
		</a>
		<a class='Job-link' href=''>
      <span class='Job-info'>
        <span class='Job-company'>{{ result.company_name }}</span>
        <span class='Job-desc'>{{ result.title }} - {{ result.location }}</span>
      </span>
			<span class='Job-meta'>
        <i class='far fa-calendar-alt'/> {{ deadline }},
        <i class='fas fa-pound-sign'/> {{ salary }},
        {{ result.duration }}
      </span>
		</a>
		<button @click='toggleShortlistID' class='IconLike'>
			<span v-show='shortlisted' class='IconHeart IconHeart--unlike'>
				<i class='fas fa-heart'></i>
		  </span>
			<span v-show='!shortlisted' class='IconHeart IconHeart--like'>
				<i class='far fa-heart'/>
      </span>
		</button>
	</div>
</template>

<script>
	import moment from 'moment';

	export default {
		name: 'SearchResult',

		props: {
			result: {
				default: () => {
					return {};
				},
				type: Object
			}
		},

		computed: {
			shortlisted() {
				return !!~this.$store.state.shortlistIDs.indexOf(this.result.id);
			},

			salary() {
				return this.result.salary.replace(/\£/g, '');
			},

			deadline() {
				const deadline = this.result.deadline;
				const formattedDate = moment(deadline).format('Mo MMMM YYYY');

				return formattedDate == 'Invalid date' ? deadline : formattedDate;
			}
		},

		methods: {
			toggleShortlistID: function () {
				const {id, title, company_name, company_id} = this.result;
				const {state: {shortlistIDs}, dispatch} = this.$store;
				const index = shortlistIDs.indexOf(id);

				if(!!~index) {
					dispatch('removeShortlistID', {id, title, index, company_name});
				}
				else {
					dispatch('addShortlistID', {id, title, company_name, company_id});
				}
			}
		}
	};
</script>


<style scoped type='text/less' lang='less'>
	.Job-meta {
		display: block;
		color: #666;
	}

	.Job-desc {
		font-size: 18px;
		font-weight: 700;
	}

	.Job-link {
		padding-left: 15px;
		width: ~'calc(100% - 130px)';
	}

	a {
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
	}

	.IconLike {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);

		i {
			color: red;
			font-size: 25px;
		}
	}
</style>
