<template>
	<div>
		<button @click='clearFilters'><i class='far fa-sync'></i> Reset Filters</button>

		<div v-for='(filters, filterType) in availableFilters' :key='filterType'>
			<h4>{{ filterType }}</h4>
			<ul>
				<li v-for='filterName in filters' :key='filterName'>
					<label>
						<input type='checkbox'
						       @click='setFilter(filterType, filterName)'
						       v-bind:checked='checked(filterType, filterName)' /> <span>{{ filterName }}</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import availableFilters from '../filters';

	export default {
		name: 'FilterSidebar',

		props: {
			availableFilters: {
				default: () => {
					return availableFilters
				},
				type: Object
			}
		},

		methods: {
			checked: function(filterType, filterName) {
				return !!~this.$store.state.filters[filterType].indexOf(filterName);
			},

			setFilter: function(type, name) {
				this.$store.commit('setFilter', {type, name});
			},

			clearFilters: function() {
				this.$store.commit('clearFilters');
			}
		}
	};
</script>

<style scoped type='text/less' lang='less'>
	* {
		text-align: left;
	}

	h4 {
		text-transform: capitalize;
		margin-bottom: 0.25em;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>