<template>
		<transition appear name='slide-fade'>
			<div v-show='showingSidePanel' class='Side-panel'>
				<div v-show='filter != "all"'>
					<div v-for='item in items' :key='item.id'>{{ item.title }}</div>
				</div>
			</div>
		</transition>
</template>

<script>
	import showingSidePanel from '../mixins/showingSidePanel';

	export default {
		name: 'SidePanel',
		mixins: [showingSidePanel],
		data() {
			let {results,shortlistIDs,followingCompanyIDs} = this.$store.state;

			return {
				filter: 'companies',
				results,
				shortlistIDs,
				followingCompanyIDs,
				items: []
			}
		},
		watch: {
			results: function() {
				this.setItems();
			},
			shortlistIDs: function() {
				this.setItems();
			},
			followingCompanyIDs: function() {
				this.setItems();
			}
		},
		methods: {
			setItems: function() {
				let items = [];

				for(let result of this.results) {
					if(!!~this.shortlistIDs.indexOf(result.id)) {
						result = {
							...result,
							title: result.company_name,
							itemType: 'job'
						};

						items.push(result);
					}
					else if(!!~this.followingCompanyIDs.indexOf(result.company_id)) {
						result = {
							...result,
							title: result.company_name,
							itemType: 'company'
						};

						items.push(result);
					}
				}

				this.items = items;
			}
		}
	}
</script>

<style scoped type='text/less' lang='less'>
	.slide-fade-enter-active {
		transition: all .5s ease;
	}
	.slide-fade-leave-active {
		transition: all .9s cubic-bezier(.9,.65,.9,.65);
	}
	.slide-fade-enter, .slide-fade-leave-to {
		transform: translateX(100%);
		opacity: 0;
	}

	.Side-panel {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		background: #fff;
		padding: 130px 15px 15px;

		@media screen and (min-width: 1024px) {
			width: 560px;
		}
	}
</style>