<template>
	<div id='app'>
		<notifications-list/>
		<header-layout/>
		<search-page-layout/>
		<side-panel/>
	</div>
</template>

<script>
	import SearchPageLayout from './components/search-page-layout';
	import HeaderLayout from './components/header';
	import SidePanel from './components/side-panel';
	import NotificationsList from './components/notifications-list';

	export default {
		name: 'App',
		components: {
			'search-page-layout': SearchPageLayout,
			'header-layout': HeaderLayout,
			'side-panel': SidePanel,
			'notifications-list': NotificationsList
		}
	};
</script>

<style>
	html,
	body,
	#app {
		min-height: 100vh;
	}

	body {
		margin: 0;
	}

	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		position: relative;
	}
	
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		border: none;
	}
</style>
